<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= link_to root_path %>

  <div class="field left">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off" %>
    <%= link_to "Forgot account?", new_password_path(resource_name) %>
  </div>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>
