<h2>Log into Facebook</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email" , placeholder: "Email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
  </div>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<p>or</p>

<%= link_to "Create New Account", root_path %><br>
<%= link_to "Forgot account?", new_password_path(resource_name) %>
