<nav>
  <ul id="navbar">
    <% if user_signed_in? %>
    <li>search bar</li>
    <li><%= link_to current_user.first_name, user_path(current_user) %></li>
    <li><%= link_to "Home", posts_path %></li>
    <li><%= link_to "Find Friends", users_path %></li>
    <li><%= link_to "\u{1F465}", "#" %></li>
    <li><%= link_to "\u{1F4AC}", "#" %></li>
    <li><%= link_to "\u{1F514}", "#" %></li>
    <li><%= link_to "\u2753", "#" %></li>
    <li><a href="#">&#9662;</a>
      <ul class="dropdown">
        <li><%= link_to "Settings", edit_user_registration_path(current_user) %></li>
        <li><%= link_to "Log Out", destroy_user_session_path %></li>
      </lu>
    </li>
    <% else %>
    <li><%= link_to "facebook", root_path %></li>
    <%= render 'devise/sessions/new.html.erb' %>
    <% end %>
  </ul>
</nav>
